body { background-color : #F5FFFA;
		color : #708090; }

		#hero {
  background-image: url(../images/tools.jpg);
  width: 70%;
  /* margin-left: 15%; */
  margin: 20px auto;
  height: 300px;
  /* margin: 0 auto; */
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  padding: 40px;
}